--
-- PostgreSQL database dump
--

\restrict Ogpfatp3eioIzIomoYHhU55ePqoMILphbJg549etguEGlWtBfkiq1dmUfEtpPFI

-- Dumped from database version 14.22
-- Dumped by pg_dump version 14.22

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: bills; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.bills DISABLE TRIGGER ALL;

INSERT INTO public.bills VALUES (3, 'BILL-2026-003', 'Camera Services Inc', 'accounts@cameraservices.com', '2026-05-05', 950.00, 950.00, 0.00, 'paid', 'Sensor cleaning payment', '2026-05-16 13:49:00.741686', '2026-05-16 13:49:00.741686');
INSERT INTO public.bills VALUES (5, 'BILL-2026-004', 'saji joseph', 'saji123@gmail.com', '2026-05-26', 800.00, 800.00, 0.00, 'paid', '', '2026-05-23 14:09:04.221053', '2026-05-26 13:28:43.03159');
INSERT INTO public.bills VALUES (2, 'BILL-2026-002', 'Studio Supplies Co', 'billing@studiosupplies.com', '2026-05-20', 1800.00, 1800.00, 0.00, 'paid', 'Monthly consumables', '2026-05-16 13:49:00.741686', '2026-05-26 13:30:02.448365');


ALTER TABLE public.bills ENABLE TRIGGER ALL;

--
-- Data for Name: chart_of_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.chart_of_accounts DISABLE TRIGGER ALL;

INSERT INTO public.chart_of_accounts VALUES (1, '1000', 'Cash & Bank', 'Asset', NULL, true, '2026-05-16 13:59:57.454');
INSERT INTO public.chart_of_accounts VALUES (2, '1100', 'Accounts Receivable', 'Asset', NULL, true, '2026-05-16 13:59:57.454');
INSERT INTO public.chart_of_accounts VALUES (3, '1200', 'Inventory Assets', 'Asset', NULL, true, '2026-05-16 13:59:57.454');


ALTER TABLE public.chart_of_accounts ENABLE TRIGGER ALL;

--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.customers DISABLE TRIGGER ALL;

INSERT INTO public.customers VALUES (36, 'michael', 'inactive', '+919876545676', 0.00, 0, 'michael123@gmail.com', 'thimattathil(H)vayattuparamba(PO)naduvil ,670587', 'karthikapurem', 'india', '', '', false, NULL, 'WL001', '', '2026-05-29 11:33:25.468581');
INSERT INTO public.customers VALUES (37, 'jisna kurian', 'inactive', '+919845764345', 0.00, 0, 'jisna.kurian@jisna.com', 'thimattathil(H)vayattuparamba(PO)naduvil ,670582', 'kannur', 'india', '', '', false, NULL, 'WL002', '', '2026-05-29 11:33:25.468581');
INSERT INTO public.customers VALUES (39, 'gopika', 'active', '+919845764325', 0.00, 0, 'gopika123@gmail.com', 'thalassery,kannur,kerala', 'kannur', 'india', '', '', false, NULL, 'WL003', '', '2026-05-29 11:33:25.468581');


ALTER TABLE public.customers ENABLE TRIGGER ALL;

--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.vendors DISABLE TRIGGER ALL;

INSERT INTO public.vendors VALUES (4, 'saji joseph', 'saji123@gmail.com', '9876545654', 'saji thimattathil(H) vayatauparamba ,kannur,45324', 'reji saji', '2026-05-16 14:57:26.381365', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 'INR', 'Due on Receipt', 0.00, 0.00, 0.00, NULL);
INSERT INTO public.vendors VALUES (5, 'Mr.sumesh su', 'sumesh123@gmail.com', '98765456787', '', 'Mr. sumesh su', '2026-05-23 10:46:44.386409', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 'INR', 'Due on Receipt', 0.00, 0.00, 0.00, NULL);
INSERT INTO public.vendors VALUES (6, 'Mrs.Simran Suresh', 'simran123@gmail.com', '98765456787', '', 'Mrs. simran suresh', '2026-05-23 11:32:44.821113', 'abc', 'Mrs.', 'simran', 'suresh', '9853210964', '98765456787', '', 'INR', 'Due on Receipt', 0.00, 0.00, 0.00, '');


ALTER TABLE public.vendors ENABLE TRIGGER ALL;

--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses DISABLE TRIGGER ALL;

INSERT INTO public.expenses VALUES (1, '2026-05-25', 'Travel Expense', '', 1000.00, 'INR', 'Petty Cash', 4, 'saji joseph', '', NULL, '', 'non-billable', '', '2026-05-25 11:39:22.441857', '2026-05-25 11:39:22.441857');
INSERT INTO public.expenses VALUES (2, '2026-05-28', 'Advertising', '', 1050.00, 'INR', '', NULL, '', '', NULL, '', 'billable', '', '2026-05-28 16:30:50.830419', '2026-05-28 16:30:50.830419');
INSERT INTO public.expenses VALUES (3, '2026-05-30', 'Other Expenses', '', 1000.00, 'INR', 'UPI', 5, 'Mr.sumesh su', '0001', NULL, '', 'non-billable', 'othere', '2026-05-30 15:18:21.242917', '2026-05-30 15:18:21.242917');


ALTER TABLE public.expenses ENABLE TRIGGER ALL;

--
-- Data for Name: inventory_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_items DISABLE TRIGGER ALL;

INSERT INTO public.inventory_items VALUES (8, 'ITM-003', '10:10 TENT', 'Tent', NULL, 800.00, 0.00, 0.00, 10, 9, 1, 0, 'New', 'Warehouse A', '', 'available', '2026-05-19 10:58:17.091416', '2026-05-30 14:56:58.602384', 0.00, 'Sales', NULL, 2400.00, 'Cost of Goods Sold', NULL, NULL, NULL);
INSERT INTO public.inventory_items VALUES (7, 'ITM-002', '1 BURNER', 'Cooking', NULL, 200.00, 0.00, 0.00, 20, 11, 9, 0, 'New', 'Warehouse A', '', 'available', '2026-05-19 10:58:17.091416', '2026-05-30 15:06:49.565699', 0.00, 'Sales', NULL, 600.00, 'Cost of Goods Sold', NULL, NULL, NULL);
INSERT INTO public.inventory_items VALUES (9, 'ITM-004', '12 F Counter', 'Accessories', NULL, 1833.00, 0.00, 0.00, 20, 16, 4, 0, 'New', 'Warehouse A', '', 'available', '2026-05-19 10:58:17.091416', '2026-05-30 15:06:49.56956', 0.00, 'Sales', NULL, 5499.00, 'Cost of Goods Sold', NULL, NULL, NULL);


ALTER TABLE public.inventory_items ENABLE TRIGGER ALL;

--
-- Data for Name: rentals; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.rentals DISABLE TRIGGER ALL;

INSERT INTO public.rentals VALUES (94, 38, 'completed', '2026-05-23', '2026-05-25', '2026-05-26 13:33:16.52786', 'ORD-2026-0094', 1, 12097.80, 12097.80, 10.00, 0.00, '');
INSERT INTO public.rentals VALUES (91, 36, 'completed', '2026-05-20', '2026-05-22', '2026-05-21 11:51:26.787581', 'ORD-2026-0001', 2, 9900.00, 8900.00, 10.00, 1000.00, '');
INSERT INTO public.rentals VALUES (95, 39, 'completed', '2026-05-25', '2026-05-26', '2026-05-27 09:57:39.817616', 'ORD-2026-0095', 1, 6160.00, 6160.00, 10.00, 0.00, '');


ALTER TABLE public.rentals ENABLE TRIGGER ALL;

--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.invoices DISABLE TRIGGER ALL;

INSERT INTO public.invoices VALUES (42, 'INV-2026-004', 38, '2026-05-23', '2026-05-24', 12097.80, 0.00, 12097.80, 10.00, 0.00, 'paid', 'Generated from rental order ORD-2026-0094', '2026-05-26 13:35:54.432967', '2026-05-26 14:30:55.50724', NULL);
INSERT INTO public.invoices VALUES (49, 'INV-2026-005', 39, '2026-05-27', '2026-05-27', 6160.00, 0.00, 6160.00, 10.00, 0.00, 'paid', 'Generated from rental ORD-2026-0095', '2026-05-27 10:43:50.548352', '2026-05-27 10:43:58.895236', 95);
INSERT INTO public.invoices VALUES (51, 'INV-2026-007', 36, '2026-05-29', '2026-05-30', 96600.00, 96600.00, 0.00, 15.00, 0.00, 'draft', 'Generated from rental ORD-2026-0097', '2026-05-29 12:15:01.023988', '2026-05-29 12:15:01.023988', 97);


ALTER TABLE public.invoices ENABLE TRIGGER ALL;

--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.invoice_items DISABLE TRIGGER ALL;

INSERT INTO public.invoice_items VALUES (62, 42, '12 F Counter (3 days)', 2, 5499.00, 10998.00, '2026-05-26 14:30:55.510777');
INSERT INTO public.invoice_items VALUES (63, 49, 'LIGHT ROUND (2 days)', 2, 2800.00, 5600.00, '2026-05-27 10:43:50.556386');
INSERT INTO public.invoice_items VALUES (66, 51, 'ARCH COUNTER (3 days)', 2, 42000.00, 84000.00, '2026-05-29 12:15:01.047854');


ALTER TABLE public.invoice_items ENABLE TRIGGER ALL;

--
-- Data for Name: ledger_entries; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.ledger_entries DISABLE TRIGGER ALL;

INSERT INTO public.ledger_entries VALUES (1, '2026-04-19', '2100', 'Tax Payable', 'invoice', 'INV-2026-002', 'Tax on rental - Marcus Johnson', 0.00, 124.00, 271.50, '2026-05-16 14:27:37.721473');
INSERT INTO public.ledger_entries VALUES (2, '2026-04-19', '4100', 'Late Fee Revenue', 'invoice', 'INV-2026-002', 'Late fee - Marcus Johnson', 0.00, 180.00, 180.00, '2026-05-16 14:27:37.721473');
INSERT INTO public.ledger_entries VALUES (3, '2026-04-19', '4000', 'Rental Revenue', 'invoice', 'INV-2026-002', 'Rental invoice - Marcus Johnson', 0.00, 1240.00, 2715.00, '2026-05-16 14:27:37.721473');


ALTER TABLE public.ledger_entries ENABLE TRIGGER ALL;

--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.roles DISABLE TRIGGER ALL;

INSERT INTO public.roles VALUES (1, 'admin', '{"all": true}', '2026-05-08 15:57:00.115295');
INSERT INTO public.roles VALUES (2, 'manager', '{"read": true, "write": true, "delete": false}', '2026-05-08 15:57:00.115295');
INSERT INTO public.roles VALUES (3, 'staff', '{"read": true, "write": false, "delete": false}', '2026-05-08 15:57:00.115295');


ALTER TABLE public.roles ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.users DISABLE TRIGGER ALL;

INSERT INTO public.users VALUES (4, 'staff@erms.com', 'password123', 'Test Staff', 3, true, '2026-05-25 15:10:34.11818', '2026-05-25 15:10:34.11818');
INSERT INTO public.users VALUES (1, 'admin@erms.com', '$2b$10$ZM/tAIZIxUq2Bc2m5dwrEufF/VNtWBkN1Zw2IIHNgAuF/EBbGJPHO', 'System Administrator', 1, true, '2026-05-08 15:57:18.709515', '2026-05-08 15:57:18.709515');
INSERT INTO public.users VALUES (3, 'manager@erms.com', '$2b$10$Owj0VSimCFYfobAuEDThN.eIpJBjEZDHI3kv9jvyhCYZb6Ma2sQru', 'Test Manager', 2, true, '2026-05-25 15:10:24.093936', '2026-05-25 15:10:24.093936');


ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.password_reset_tokens DISABLE TRIGGER ALL;

INSERT INTO public.password_reset_tokens VALUES (1, 5, 'facd69cbfea9e66a3f24a8985252a03cab86df6e2a383d690f6c89192851afeb', '2026-05-30 12:02:42.435', true, '2026-05-30 11:52:42.444066');
INSERT INTO public.password_reset_tokens VALUES (2, 5, '750dc13b93f988c496a215a4888b1fbd92daee55c166f5f2ccd454ca0c382cd6', '2026-05-30 12:03:41.544', true, '2026-05-30 11:53:41.551319');
INSERT INTO public.password_reset_tokens VALUES (3, 5, '11f2a46d6e8d30c65188e7cadfadb37c83ddd4390feea029b735519d7be8f915', '2026-05-30 12:22:57.629', true, '2026-05-30 12:12:57.646576');


ALTER TABLE public.password_reset_tokens ENABLE TRIGGER ALL;

--
-- Data for Name: pgmigrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.pgmigrations DISABLE TRIGGER ALL;

INSERT INTO public.pgmigrations VALUES (21, '001_create_roles', '2026-06-01 11:03:20.703838');
INSERT INTO public.pgmigrations VALUES (22, '002_create_users', '2026-06-01 11:03:20.703838');
INSERT INTO public.pgmigrations VALUES (23, '003_create_sessions', '2026-06-01 11:03:20.703838');


ALTER TABLE public.pgmigrations ENABLE TRIGGER ALL;

--
-- Data for Name: rental_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.rental_items DISABLE TRIGGER ALL;

INSERT INTO public.rental_items VALUES (27, 94, 9, '12 F Counter', 2, 3, 1833.00, 10998.00, '2026-05-27 10:59:13.878223');
INSERT INTO public.rental_items VALUES (28, 91, 19, 'ARIPPAKOTTA', 4, 3, 400.00, 4800.00, '2026-05-27 10:59:24.613384');
INSERT INTO public.rental_items VALUES (29, 91, 63, 'LOWER', 1, 3, 1400.00, 4200.00, '2026-05-27 10:59:24.616103');


ALTER TABLE public.rental_items ENABLE TRIGGER ALL;

--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.sessions DISABLE TRIGGER ALL;



ALTER TABLE public.sessions ENABLE TRIGGER ALL;

--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.settings DISABLE TRIGGER ALL;

INSERT INTO public.settings VALUES (10, 'system_default_tax_rate', '10', 'system', '2026-05-20 14:59:45.541351', '2026-05-20 14:59:45.541351');
INSERT INTO public.settings VALUES (11, 'system_default_payment_terms', '15', 'system', '2026-05-20 14:59:45.541351', '2026-05-20 14:59:45.541351');
INSERT INTO public.settings VALUES (12, 'system_late_fee_percentage', '10', 'system', '2026-05-20 14:59:45.541351', '2026-05-20 14:59:45.541351');


ALTER TABLE public.settings ENABLE TRIGGER ALL;

--
-- Data for Name: tax_rates; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public.tax_rates DISABLE TRIGGER ALL;

INSERT INTO public.tax_rates VALUES (1, 'Standard VAT', 10.00, 'Default rental tax', true, '2026-05-16 13:59:46.568802');
INSERT INTO public.tax_rates VALUES (2, 'Reduced VAT', 5.00, 'Reduced tax category', true, '2026-05-16 13:59:46.568802');
INSERT INTO public.tax_rates VALUES (3, 'Zero Tax', 0.00, 'Tax exempt', true, '2026-05-16 13:59:46.568802');


ALTER TABLE public.tax_rates ENABLE TRIGGER ALL;

--
-- Name: bills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bills_id_seq', 11, true);


--
-- Name: chart_of_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chart_of_accounts_id_seq', 9, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_id_seq', 42, true);


--
-- Name: expenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_id_seq', 3, true);


--
-- Name: inventory_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_items_id_seq', 131, true);


--
-- Name: invoice_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoice_items_id_seq', 72, true);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoices_id_seq', 52, true);


--
-- Name: ledger_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ledger_entries_id_seq', 11, true);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 23, true);


--
-- Name: pgmigrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pgmigrations_id_seq', 37, true);


--
-- Name: rental_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rental_items_id_seq', 43, true);


--
-- Name: rentals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rentals_id_seq', 100, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 4, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, false);


--
-- Name: settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.settings_id_seq', 103, true);


--
-- Name: tax_rates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tax_rates_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 11, true);


--
-- Name: vendors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.vendors_id_seq', 7, true);


--
-- PostgreSQL database dump complete
--

\unrestrict Ogpfatp3eioIzIomoYHhU55ePqoMILphbJg549etguEGlWtBfkiq1dmUfEtpPFI

